/* ini css */
* {
    font-family: "Poppins", sans-serif;
    /* background-color: rgb(241, 241, 246); */
    margin: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    background-color: white;
    padding-left: 2rem;
  }
  
  .logo-item {
    height: 48px;
    width: 48px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border-radius: 50%;
    background-color: aqua;
  }
  
  .navbar-top {
    background-color: white;
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  
  .nav-container {
    background-color: white;
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
  }
  
  .nav-item {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  a:hover {
    color: blue;
  }
  
  header {
    text-align: center;
    justify-content: center;
  }
  
  article {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 100px;
    width: 100%;
  }
  
  #name {
    color: blue;
  }
  
  article p {
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .banner-img {
    border: 3px solid blue;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 8px;
    width: 96%;
  }
  
  #our-profile,
  #hobby {
    padding: 8rem 7% 1.5rem;
  }
  
  #our-profile h1 {
    margin-bottom: 3rem;
  }
  
  .profile-container {
    display: flex;
    justify-content: space-between;
    text-align: -webkit-center;
    flex-wrap: wrap;
  }
  
  .profile-item {
    height: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .profile-img {
    height: 100px;
    background-image: url(https://picsum.photos/100);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 100px;
  }
  
  .profile-hobby {
    margin: 90px auto;
    width: 70%;
  }
  
  .profile-hobby img {
    float: left;
    border-radius: 8px;
    border: 3px solid blue;
    margin-right: 15px;
  }
  
  #message {
    padding: 8rem 7% 1.5rem;
  }
  
  .form-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 50px;
    display: flex;
  }
  
  form input[type="text"],
  form input[type="date"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="radio"] {
    margin: 0 5px 0 10px;
  }
  
  form label {
    margin-right: 20px;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .output-form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .output-form p {
    margin: 10px 0;
  }
  
  .output-form span {
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: left;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  
  .footer-bottom p {
    margin: 5px 0;
  }
  
  .made-by {
    font-style: italic;
    background-color: #333;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 600px) {
    .navbar-top {
      flex-direction: column;
    }
  
    .nav-container {
      width: 100%;
      flex-direction: column;
    }
  
    .logo {
      margin-bottom: 14px;
    }
  }